################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################
/DFRCronos2000/bin
/DFRCronos2000/obj
/DFR_Cronos2000/bin
/DFR_Cronos2000/obj
/.vs
