################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/DFR_Cronos2000/bin
/DFR_Cronos2000/obj