################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################
/DFR_Cronos2000/bin
/DFR_Cronos2000/obj/
/DFRCronos2000
/.vs
/DFR_Cronos2000/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/DFR_Cronos2000.nfloat.g.cs
